<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="password">
    </div>
    <button class="btn btn-primary" type="submit">Iniciar sesión</button>
</form>
