<div class="show-users">

  <div
  class="modal fade modal-lg"
  id="modalagregar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          <b>Agregar Producto</b>
        </h1>
      </div>
      <div class="modal-body">
        <form class="row" [formGroup]="productForm" (submit)="onSubmit()">
          <div class="col-md-3">
            <div class="mb-3">
              <label for="title" class="form-label"><b>Title</b></label>
              <input
                type="text"
                formControlName="title"
                name="title"
                id="title"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="mb-3">
              <label for="price" class="form-label"><b>Price</b></label>

              <input
                formControlName="price"
                type="number"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-md-3">
            <div class="mb-3">
              <label for="description" class="form-label"
                ><b>Description</b></label
              >
              <input
                type="text"
                formControlName="description"
                class="form-control"
                name="description"
                id="description"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label for="Image" class="form-label"><b>Image</b></label>
              <input
                type="url"
                formControlName="image"
                class="form-control"
                name="url"
                id="url"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="linea btn bmodal btn-danger btn-sm"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="linea btn bmodal btn-success btn-sm">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

  <div class="container-button">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#modalagregar"
    >
      Agregar
    </button>
  </div>
  <div class="container-table d-flex justify-content-center">
    <table class="">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Price</th>
          <th>Description</th>
          <th>Modificar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <thead>
        <tr *ngFor="let product of paginatedMovies">
          <td>{{ product.id }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.price }}</td>

          <td class="description">{{ product.description }}</td>
          <td>
            <button
              type="button"
              mat-raised-button
              color="primary"
              data-bs-toggle="modal"
              data-bs-target="#modificar"
              data-bs-dismiss="modal"
              (click)="modificar(product.id)"
            >
              Update
            </button>
          </td>
          <td>
            <button mat-raised-button color="warn" (click)="delete(product.id)">
              Delete
            </button>
          </td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <mat-paginator
      [pageSize]="this.pageSize"
      [length]="products.length"
      (page)="changePage($event)"
      [pageSizeOptions]="[5, 10, 15, 20]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>


<div class="modal fade modal-lg" id="modificar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel"><b>Modificar Producto</b></h1>
    </div>
    <div class="modal-body">
      <form class="row" [formGroup]="modificarForm" (submit)="onUpdate()" >
        <div class="col-md-3">
          <div class="mb-3">
            <label for="title" class="form-label"><b>Title</b></label>
            <input type="text" formControlName="title" name="title" id="title" class="form-control">

            </div>


        </div>

        <div class="col-md-3">
          <div class="mb-3">
            <label for="price" class="form-label"><b>Price</b></label>
            
            <input formControlName="price" type="number" class="form-control">

          </div>

        </div>

        <div class="col-md-3">
          <div class="mb-3">
            <label for="description" class="form-label"  ><b>Description</b></label>
            <input type="text" formControlName="description" class="form-control" name="description" id="description">
            

          </div>
        </div>
        <div class="col-md-3">
            <div class="mb-3">
              <label for="Image" class="form-label"  ><b>Image</b></label>
              <input type="url" formControlName="image" class="form-control" name="url" id="url">
              
  
            </div>
          </div>
          <div class="col-md-3">
            <div class="mb-3">
              <label for="id" class="form-label"><b>id</b></label>
              <input type="text" readonly formControlName="id" name="title" id="id" class="form-control">
  
              </div>
  
  
          </div>

        <div class="modal-footer">
          <button type="button" class="linea btn bmodal btn-danger btn-sm" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="linea btn bmodal btn-success btn-sm">Guardar</button>
        </div>


      </form>

      
    </div>

  </div>
</div>





